@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1;
  background: linear-gradient(135deg, #0a0a1a 0%, #2a0a3d 100%);
  font-family: 'Orbitron', sans-serif;
  color: #e0e0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130vh;
  user-select: none;
  position: relative;
}

h1 {
  margin-top: 30px;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow:
    0 0 10px #7b3fff,
    0 0 20px #9d7eff,
    0 0 30px #bb9eff;
}

.som {
  display: flex;
  background: linear-gradient(135deg, rgb(3, 111, 182), #b688ff);
  border: none;
  padding: 0.5rem 0.5rem;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 12px;
  box-shadow:
    0 0 10px rgb(5, 134, 240),
    0 0 20px #b688ff;
  cursor: pointer;
  margin-top: 2vh;
}

#balance {
  font-size: 1.6rem;
  text-shadow: 0 0 5px #b08aff;
}

#result {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  align-items: center;
  font-size: 1.5rem;
  min-height: 1.5em;
  text-shadow: 0 0 10px #bb9eff;
  user-select: none;
}

.machine {
  background: linear-gradient(#171b31, #0c0e20);
  border-radius: 15px;
  padding: 1.8rem 3rem;
  display: flex;
  gap: 0.7rem;
  box-shadow:
    0 0 25px #7b3fff, inset 0 0 10px #4b2fa5;
  position: relative;
  width: 300px;
  user-select: none;
}

.reel {
  width: 100px;
  height: 150px;
  background: linear-gradient(145deg, #2a2c43, #1c1f32);
  border: 4px solid #7b3fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px #7b3fff, 0 0px #4b2fa5;
  font-size: 3rem;
  font-weight: 900;
}

.symbols {
  position: absolute;
  top: 0;
  width: 100%;
  animation-timing-function: linear;
}

.payline {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(123, 63, 255, 0.7);
  box-shadow:
    0 0 8px #7b3fff,
    0 0 20px #b688ff;
  transform: translateY(-50%);
  pointer-events: none;
  border-radius: 3px;
  z-index: 10;
}

#alavanca-container {
  position: absolute;
  width: 50px;
  height: 160px;
  margin-top: -30px;
  margin-right: 40px;
  background: linear-gradient(#2a2c43ac, #1c1f32);
  box-shadow:
    0 0 25px #7b3fff, inset 0 0 10px #4b2fa5;
  border-radius: 25px;
  right: -100px;
}

#alavanca {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: rgb(185, 183, 183);
  border-radius: 50%;
  cursor: grab;
  transition: top 0.2s ease;
}

.botões1 button {
  margin-top: 1rem;
  background: linear-gradient(rgb(212, 20, 20), #f64a00);
  border: none;
  padding: 2rem 2.8rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 12px;
  box-shadow:
    0 0 10px rgb(255, 21, 0),
    0 0 20px #db491d;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
  margin-right: 10px;
}

.botões2 button {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background: linear-gradient(135deg, rgb(3, 111, 182), #b688ff);
  border: none;
  padding: 1rem 6rem;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 12px;
  box-shadow:
    0 0 10px rgb(5, 134, 240),
    0 0 20px #b688ff;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
  margin-right: 10px;
}

@keyframes scroll-down {
  0% {
    top: 0;
  }

  100% {
    top: -2660px;
  }
}

@media (min-width: 480px) and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    margin-right: 50px;
    background: linear-gradient(135deg, #0a0a1a 0%, #2a0a3d 100%);
    font-family: 'Orbitron', sans-serif;
    color: #e0e0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 135vh;
    user-select: none;
    position: relative;
  }

  h1 {
    margin-top: 1.2vh;
    font-size: 2.4rem;
  }

  #balance {
    font-size: 1.4rem;
  }

  #result {
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    align-items: center;
    font-size: 1rem;
    min-height: 1.5em;
    text-shadow: 0 0 10px #bb9eff;
    user-select: none;
  }

  .machine {
    background: linear-gradient(145deg, #171b31, #0c0e20);
    border-radius: 25px;
    padding: 2rem 1rem;
    display: flex;
    gap: 1rem;
    width: 350px;
    user-select: none;
  }

  .reel {
    color: #c1c1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
      0 0 5px #a58aff,
      0 0 0px #7b3fff;
  }

  .symbols {
    position: absolute;
    top: 0;
    width: 100%;
    animation-timing-function: linear;
  }

  .payline {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(123, 63, 255, 0.7);
    box-shadow:
      0 0 8px #7b3fff,
      0 0 20px #b688ff;
    transform: translateY(-50%);
    pointer-events: none;
    border-radius: 3px;
    z-index: 10;
  }

  #alavanca-container {
    opacity: 0;
    position: absolute;
    width: 45px;
    height: 160px;
    margin-right: 40px;
    margin-top: -30px;
    background: linear-gradient(#2a2c43ac, #1c1f32);
    box-shadow:
      0 0 25px #7b3fff, inset 0 0 10px #4b2fa5;
    border-radius: 25px;
    right: -100px;
  }

  #alavanca {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 30px;
    height: 30px;
    background: rgb(185, 183, 183);
    border-radius: 50%;
    cursor: grab;
    transition: top 0.2s ease;
  }

  .botões1 button {
    margin-top: 1rem;
    background: linear-gradient(rgb(212, 20, 20), #f64a00);
    border: none;
    padding: 1.8rem 2rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 10px rgb(255, 21, 0),
      0 0 20px #db491d;
    cursor: pointer;
    transition: background 0.3s ease;
    user-select: none;
    margin-right: 10px;
  }

  .botões2 button {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background: linear-gradient(rgb(3, 111, 182), #b688ff);
    border: none;
    padding: 1.8rem 4.5rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 10px rgb(5, 134, 240),
      0 0 20px #b688ff;
    cursor: pointer;
    transition: background 0.3s ease;
    user-select: none;
    margin-right: 10px;
  }

  .som {
    display: flex;
    background: linear-gradient(135deg, rgb(3, 111, 182), #b688ff);
    border: none;
    padding: 0.7rem 0.8rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 10px rgb(5, 134, 240),
      0 0 20px #b688ff;
    cursor: pointer;
    margin-top: 2vh;
  }

  @keyframes scroll-down {
    0% {
      top: 0;
    }

    100% {
      top: -2660px;
    }
  }
}

@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: linear-gradient(135deg, #0a0a1a 0%, #2a0a3d 100%);
    font-family: 'Orbitron', sans-serif;
    color: #e0e0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115vh;
    user-select: none;
    position: relative;
  }

  h1 {
    margin-top: 1.2vh;
    font-size: 2.4rem;
  }

  #balance {
    font-size: 1.4rem;
  }

  #result {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    align-items: center;
    font-size: 0.8rem;
    min-height: 1.5em;
    text-shadow: 0 0 10px #bb9eff;
    user-select: none;
  }

  .machine {
    background: linear-gradient(145deg, #171b31, #0c0e20);
    border-radius: 25px;
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    width: 280px;
    user-select: none;
  }

  .reel {
    color: #c1c1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow:
      0 0 5px #a58aff,
      0 0 0px #7b3fff;
  }

  .symbols {
    position: absolute;
    top: 0;
    width: 100%;
    animation-timing-function: linear;
  }

  .payline {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(123, 63, 255, 0.7);
    box-shadow:
      0 0 8px #7b3fff,
      0 0 20px #b688ff;
    transform: translateY(-50%);
    pointer-events: none;
    border-radius: 3px;
    z-index: 10;
  }

  #alavanca-container {
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 110px;
    background: linear-gradient(#2a2c43ac, #1c1f32);
    box-shadow:
      0 0 25px #7b3fff, inset 0 0 10px #4b2fa5;
    border-radius: 25px;
    right: -85px;
    top: 40px;
  }

  #alavanca {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 20px;
    height: 20px;
    background: rgb(185, 183, 183);
    border-radius: 50%;
    cursor: grab;
    transition: top 0.2s ease;
  }

  .botões1 button {
    margin-top: 1rem;
    background: linear-gradient(rgb(212, 20, 20), #f64a00);
    border: none;
    padding: 1rem 1.6rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 10px rgb(255, 21, 0),
      0 0 20px #db491d;
    cursor: pointer;
    transition: background 0.3s ease;
    user-select: none;
    margin-right: 10px;
  }

  .botões2 button {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background: linear-gradient(135deg, rgb(3, 111, 182), #b688ff);
    border: none;
    padding: 1rem 4rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 10px rgb(5, 134, 240),
      0 0 20px #b688ff;
    cursor: pointer;
    transition: background 0.3s ease;
    user-select: none;
    margin-right: 10px;
  }

  .som {
    display: flex;
    background: linear-gradient(135deg, rgb(3, 111, 182), #b688ff);
    border: none;
    padding: 0.5rem 0.5rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 10px rgb(5, 134, 240),
      0 0 20px #b688ff;
    cursor: pointer;
    margin-top: 2vh;
  }

  @keyframes scroll-down {
    0% {
      top: 0;
    }

    100% {
      top: -2660px;
    }
  }
}